@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoGranado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9" id="principal" style="align-content:center">
                <div class="w-25 p-3">
                    <img src="~/imagem/Loo_Granado_Phebo.png" class="img-fluid" alt="Logo">
                </div>
                <form>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Endereço de email</label>
                        <input type="email" class="form-control" id="validationCustom01" placeholder="Seu email">
                        <div class="invalid-feedback">
                            Preencha o Email!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Senha</label>
                        <input type="password" class="form-control" id="validationCustom02" placeholder="Senha">
                        <div class="invalid-feedback">
                            Preencha a Senha!
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")'">Logar</button>
                </form>
            </div>
        </div>
    </div>
    @*
        <div class="ui container" style="padding-top:5%">
            <div class="ui grid center aligned">
                <div class="row">
                    <div class="sixteen wide tablet six wide computer column">
                        <div class="ui left aligned segment">
                            <div id="frmLogin" class="ui form">
                                <div class="ui container center aligned">
                                    <div class="ui segment">
                                        <img src="~/img/logoG.jpg">
                                    </div>
                                </div>

                                <div class="field" style="margin-top:3%">
                                    <div id="mensagemLogin" class="ui warning message"></div>

                                    <label>Apelido/E-mail:</label>

                                    <div class="ui fluid icon input">
                                        <input name="user_name" id="txtApelido-Email" style="width:100% !important; min-width:100%">
                                        <i class="icon user"></i>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Senha:</label>
                                    <div class="ui fluid icon input">

                                        <input name="password" id="txtSenha" type="password" style="width:100% !important; min-width:100%">
                                        <i class="icon key"></i>
                                    </div>
                                </div>

                                <div class="field">
                                    <button id="login" class="ui teal right labeled icon button fluid" type="button" onclick="login()">
                                        Login<i class="icon sign in"></i>
                                    </button>

                                    <button class="ui red right labeled icon button fluid" type="button" onclick="modalEsqueciSenha()">
                                        Esqueci a senha<i class="icon spy"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    *@

    @*Modal Esqueci a Senha*@
    @**
        <div id="modalEsqueciSenha" class="ui small modal">
            <div class="header">
                <h4><i class="icon key"></i> Recuperar Senha</h4>
            </div>

            <div class="content">
                <div id="frmEsqueceuSenha" class="ui form">
                    <div class="ui grid stackable">
                        <div class="sixteen wide column">
                            <div id="mensagemSenha" class="ui warning message"></div>
                        </div>

                        <div class="sixteen wide column">
                            <label for="emailRecuperacao">E-mail *</label>
                            <input id="emailRecuperacao" type="email" placeholder="Informe seu e-mail" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions">
                <div class="ui buttons">
                    <button id="btnRecuperarSenha" type="button" class="ui primary button" onclick="recuperarSenha()">Enviar</button>
                    <button type="button" class="ui cancel button">Voltar</button>
                </div>
            </div>
        </div>


    *@
</body>
</html>
