@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- BREADCUMB -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active''"><a href="#">Listagem de Usuarios</a></li>
    </ol>
</nav>
<div style="float:right; margin-bottom:1%">
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Cadastro", "Usuario")'">+ Novo</button>
</div>

<!-- SECTION TABLE-->
<table class="table table-striped">

    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Grupo de Usuário</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th>Setor</th>
            <th>Ativo</th>
            <th></th>
        </tr>
     </thead>
    <tbody>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>Grupo de Usuário</td>
            <td>Email</td>
            <td>Sexo</td>
            <td>Telefone</td>
            <td>Setor</td>
            <td>Ativo</td>
            <td></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>Grupo de Usuário</td>
            <td>Email</td>
            <td>Sexo</td>
            <td>Telefone</td>
            <td>Setor</td>
            <td>Ativo</td>
            <td></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>Grupo de Usuário</td>
            <td>Email</td>
            <td>Sexo</td>
            <td>Telefone</td>
            <td>Setor</td>
            <td>Ativo</td>
            <td></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>Grupo de Usuário</td>
            <td>Email</td>
            <td>Sexo</td>
            <td>Telefone</td>
            <td>Setor</td>
            <td>Ativo</td>
            <td></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>Grupo de Usuário</td>
            <td>Email</td>
            <td>Sexo</td>
            <td>Telefone</td>
            <td>Setor</td>
            <td>Ativo</td>
            <td></td>
        </tr>
    </tbody>

</table>

